* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;

    background-color: black;
    color: rgb(255, 188, 63);
    align-items: center;
    flex-wrap: wrap;
    flex: content;
}

.header {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex: content;
    width: 90%;
    height: 20%;
    margin-top: 20px;
    background: linear-gradient(#a1a1a1, #0b0a0a);
    border-radius: 5%;
}

.header > h1 {
    text-decoration: solid;
}
